<nav class="bg-[#f7f7f8] dark:bg-neutral-900 h-screen fixed top-0 left-0 min-w-62.5 py-6 px-4">
  <div class="relative">
    <a routerLink="/dashboard"><img src="/Szbk-Logo1.svg" alt="logo" class="w-37.5" />
    </a>

    <div
      class="absolute -right-6 top-1 h-6 w-6 p-1.5 cursor-pointer bg-[#007bff] flex items-center justify-center rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" class="w-4 h-4" viewBox="0 0 55.752 55.752">
        <path
          d="M43.006 23.916a5.36 5.36 0 0 0-.912-.727L20.485 1.581a5.4 5.4 0 0 0-7.637 7.638l18.611 18.609-18.705 18.707a5.398 5.398 0 1 0 7.634 7.635l21.706-21.703a5.35 5.35 0 0 0 .912-.727 5.373 5.373 0 0 0 1.574-3.912 5.363 5.363 0 0 0-1.574-3.912z"
          data-original="#000000" />
      </svg>
    </div>
  </div>

  <div class="overflow-auto py-6 h-full mt-4">
    <ul class="space-y-2">
      <li>
        <a routerLink="dashboard" pButton>
          <i pButtonIcon class="pi pi-home text-base! leading-normal! mr-3"></i>
          <span pButtonLabel>Dashboard</span>
        </a>
      </li>

      <li>
        <button pButton (click)="logout()">
          <i pButtonIcon class="pi pi-sign-out text-base! leading-normal! mr-3"></i>
          <span pButtonLabel>Logout</span>
        </button>
      </li>
    </ul>
  </div>
</nav>